/* ==================== font setting ==================== */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* ======================제목====================== */
.title {
    width: 1120px;
    margin: 30px auto;
    text-align: center;
}

/* 부제목 마우스오버 효과 */
.subTitle_listpackage ul li a:nth-of-type(n):hover {
    background-color: rgb(25, 50, 100);
    color: white;
}

/* 등록 버튼 설정 */
.board_write {
    display: inline-block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgb(218, 229, 238);
    border: 1px black solid;
}

/* 부제목 마우스오버 효과 */
.board_write:hover {
    background-color: rgb(25, 50, 100);
    color: white;
}

/* ======================글 목록====================== */

.attr1 {
    width: 200px;
}

.attr2 {
    width: auto;
}

.board_listpackage {
    width: 1120px;
    margin: auto;
}

.board_listpackage table {
    margin-top: 60px;
    text-align: center;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    white-space: nowrap;
}

.board_listpackage table tr {
    border-top: 1px solid black;
}


/* 제목 왼쪽 정렬 */
.board_listpackage table tr td:nth-of-type(1) {
    text-align: left;
}

.board_listpackage table tr td {
    padding: 20px;
}

.dateAndHits {
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

.dateAndHits li {
    width: 30%;
}

.content {
    padding: 50px;
}

p {
    margin-right: 10px;
}

#bottomBoard input {
    width: 150px;
    height: 40px;
    background-color: rgb(218, 229, 238);
    border: 1px black solid;
    margin-top: 40px;
}

#bottomBoard input:hover {
    background-color: rgb(25, 50, 100);
    color: white;
}