/* 주문진행도 */
.cartProcess,
.cartProcess2 {
  width: 1120px;
  margin: auto;
  text-align: center;
  margin-top: 5px;
}

.cartProcess ul,
.cartProcess2 ul {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  line-height: 40px;
  background-color: gray;
}

.cartProcess ul li,
.cartProcess2 ul li {
  display: inline-block;
  width: 25%;
  height: 40px;
  vertical-align: middle;
  color: white;
}

.cartProcess ul li:nth-child(1),
.cartProcess2 ul li:nth-child(2) {
  background-color: rgb(16, 40, 102);
}

/* 항목 */
.titleArea {
  width: 1120px;
  margin: 30px auto 10px;
}

.titleArea > div {
  text-align: center;
  font-size: 2em;
  margin-top: 50px;
}

.listTitle {
  margin: 30px auto 10px;
  padding: 0;
}

.orderInfoTable,
.deliveryInfoTable,
.payTable {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
}

/* 장바구니 */
.cartInfo {
  width: 1120px;
  margin: auto;
  border: 1px solid gray;
  border-collapse: collapse;
  text-align: center;
}

.cartInfo tbody td {
  height: 50px;
}

/* 주문정보 */

form {
  width: 1120px;
  margin: auto;
}

form th {
  width: 10vw;
}

main input,
textarea {
  border: 1px solid black;
}

#firstPhoneNumber,
#secondPhoneNumber,
#lastPhoneNumber {
  text-align: center;
}

.orderInfoTable th,
.deliveryInfoTable th {
  text-align: left;
}

.orderInfoTable th,
.orderInfoTable td,
.deliveryInfoTable th,
.deliveryInfoTable td,
.payTable th,
.payTable td {
  padding: 5px 5px 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.orderInfoTable th,
.deliveryInfoTable th,
.payTable th {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #f6f6f6;
}

/* 배송정보 */
.deliveryInfoTable tr:nth-child(3) td {
  display: block;
}

.deliveryInfoTable tr:nth-child(3) td button {
  margin-left: 5px;
}

.deliveryInfoTable tr:nth-child(3) td + td {
  border-top: 0;
  margin-right: 5px;
}

.deliveryInfoTable tr:nth-child(3) td + td input {
  margin-right: 5px;
}

.deliveryInfo textarea {
  width: 60vw;
}

.emailAlert {
  padding: 0;
  margin: 0;
}

.emailAlert li {
  margin-top: 5px;
  list-style: none;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.payTable tbody {
  text-align: center;
}

/* 결제버튼 */
.payArea {
  text-align: center;
  height: 100px;
}

.productPay {
  display: inline-block;
  width: 150px;
  line-height: 50px;
  background-color: rgb(16, 40, 102);
  color: white;
  text-decoration: none;
  margin: 20px 0;
}
