/* 상품상세페이지 */
.productPage {
  width: 1120px;
  margin: 50px auto;
  display: flex;
  justify-content: space-evenly;
  height: 500px;
}

/* 상품이미지 */
.productImage {
  background: url(../image/product1.jpg) no-repeat;
  width: 500px;
  flex-grow: 1;
  /* background-color: yellowgreen; */
}

/* 상품 정보 */
.productInfo {
  width: 500px;
  text-align: center;
}

.productInfo th,
.productInfo td {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.productInfo th {
  width: 30%;
}

.productInfo td {
  width: 70%;
}

.shopcartButton {
  text-align: center;
  line-height: 60px;
}

.orderButton {
  width: 560px;
}

.buySoon,
.buyCart {
  display: inline-block;
  width: 150px;
  line-height: 50px;
  text-align: center;
  background-color: rgb(16, 40, 102);
  color: white;
}

.buyCart {
  background-color: gray;
}
