/* main */
main {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  min-height: 0;
}

/* 상품상세페이지 */
.productPage {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.productImage {
  background: url();
  flex-grow: 1;
  background-color: yellowgreen;
  margin-right: 30px;
}

.productInfo {
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  height: 500px;
  width: 50%;
  margin-bottom: 0;
  white-space: nowrap;
}
.productInfo > div {
  border-top: 1px solid gray;
}

.productInfo > div > span {
  line-height: 75px;
  padding: 0 10px;
}

.shopcartButton {
  text-align: center;
  line-height: 60px;
}

.buySoon,
.buyCart {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  color: white;
  width: 100px;
  line-height: 40px;
  background-color: rgb(16, 40, 102);
}

.buyCart {
  background-color: gray;
}
