* {
    padding: 0;
    margin: 0;
}


.joinBtn {
    display: block;
    width: 220px;
    height: 50px;
    margin: 0 auto;
    border: none;
    background-color: rgb(25, 50, 100);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}

main div {
    width: 600px;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    margin: auto;
    margin-top: calc((100% - 600px)/2);
    border-radius: 5px;
}

main div h2 {
    font-size: 24px;
    color: rgb(25, 50, 100);
    margin-bottom: 20px;
    text-align: center;
}