.item1 {
    background-color: red;
}

.item2 {
    background-color: blue;
}

.item3 {
    background-color: green;
}

.flex div {
    width: 50px;
    color: white;
}

/* ======================================================================== */

.flex {
    /* width: 500px; */
    /* height: 200px; */
    border: 1px solid;

    display: flex;
}

/* ======================================================================== */

.container1 {

    /* 
        < justify-content >

    - 주축 방향에 대한 항목들의 정렬 및 배치 형태를 결정.
      단, 주축의 항목들이 주축 방향으로 플렉스 컨테이너를
      가득 채운 상태에서는 의미없는 속성.

    ========================================================================

        < flex-start >

    - 항목들을 시작선에서부터 순서대로 배치. 디폴트 값

    ========================================================================

        < flex-end >

    - 항목들의 정렬 방향은 바뀌지 않지만 끝선을 기준으로 배치.

    ========================================================================

        < center >

    - 항목들을 주축에 대한 중앙에 정렬하여 배치.

    ========================================================================

        < space-between >

    - 항목들 사이의 공간을 동일하게 배분하여 배치.
      단, 이때의 공간은 마진이 아닌 Flexbox 내에서의 별도로 설정되는
      공간을 의미함에 주의.

    ========================================================================

        < space-around >

    - 개별 항목들 주변의 공간을 모두 동일하게 배분하여 배치.
      따라서 항목들 사이의 공간은 시작선과 끝선에 인접한 공간에 비해
      항상 2 배로 할당.
      
    ========================================================================

        < space-evenly >                                                            evenly : 고르게, 균등하게

    - 항목들 사이의 공간과 시작선과 끝선에 인접한 공간을 모두 동일하게 배분.
    */

    /* justify-content:flex-start; */
    /* justify-content:flex-end; */
    /* justify-content:center; */
    justify-content:space-between;
    /* justify-content:space-around; */
    /* justify-content:space-evenly; */
}

/* ======================================================================== */

.container2 div {
    width: 40%;
}

/* 
    wrap 설정으로 인한 다중 주축 생성 시에는 개별 주축에 대한 정렬과 배치가
    이루어지는 것을 확인 가능.
*/
.container2 {
    /* flex-wrap: wrap; */

    /* justify-content:flex-start; */
    /* justify-content:flex-end; */
    /* justify-content:center; */
    /* justify-content:space-between; */
    /* justify-content:space-around; */
    /* justify-content:space-evenly; */
}

/* ======================================================================== */

.container3 {
    /* flex-direction: row-reverse; */
}


/* 
    < start >

- -reverse 와 같은 플렉스 방향에 관계없이 왼쪽을 start, 오른쪽을 end 로 절대평가.


    < flex-start >

- -reverse 와 같은 플렉스 방향에 의해 start 와 end 가 가변적으로 상대평가.
  즉, -reverse 미지정 시에서는 왼쪽이 start 오른쪽이 end 가 되지만,
  -reverse 지정 시에서는 오른쪽이 start 왼쪽이 end 가 되는 특성.
*/
.container3.start {
    /* justify-content: start; */
    /* justify-content: end; */
}

.container3.flex-start {
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
}