.Products * {
    list-style: none;
    text-decoration: none;
}

.Products {
    width: 1120px;
    margin: auto;
}

.Products .active {
    color: black;
}

/* ==================== product list area ==================== */
.productList {
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* ==================== Classification with product category ==================== */
.productClassification {
    margin-bottom: 50px;
}

.productClassification a {
    font-weight: bold;
    color: silver;
}

.productClassification ul {
    display: flex;
    justify-content: space-around;
}

.productClassification a:hover {
    color: black;
}


/* ==================== pagination ==================== */
.pagination {
    font-size: 20px;
    text-align: center;
    padding: 40px;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a[href=""] {
    font-weight: bold;
}